* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
.btn.btn-primary, .btn.btn-success{
    float: right;
    margin-right: 20px;
}

.map, .righ-panel {
    height: 300px;
    width: 50%;
    float: left;
}

.map, .righ-panel {
    height: 87vh;
    width: 74vw;
    float: left;
}
.map {
    border: 1px solid #000;
}
h1{
    text-align: center;
}
.infomation{
    display: flex;
    padding-top: 81px;
    padding-left: 30px;
}